<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="token_Bot" value="6863138825:AAFFWPhaCzZryfXxY7YzqsvyYSbu-jSDjZc"/>
		<add key="domain" value="kienmobile.ddns.net"/>
		<add key="macAddress" value="1C-39-47-F4-FA-38"/>
	</appSettings>
</configuration>